
*.log

src/Server/game/game.o

src/Server/launchServer.o

src/Server/network/server.o

src/Server/config/ini.o
src/Server/config/readerIniGame.o

src/Client/interface/view.o

src/Client/launchClient.o

src/Client/network/client.o

src/Client/config/ini.o

src/main.o

output/
